<!DOCTYPE html>
<html>
  <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>小优羽毛球协会报名系统</title>
  </head>
  <body>
    <p><%= name %> 你好，你已经报名了此次活动，谢谢参与</p>
  </body>
</html>
