<!DOCTYPE html>
<html>
  <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>小优羽毛球协会报名系统</title>
  </head>
  <body>
    <p><%= name %> 你好，你已经报名了此次活动，谢谢参与</p>
    已报名人员(共<%= list.length %>个):
    <% if(list){ %>
      已报名人员(共<%= list.length %>个):
      <ul>
          <% for(var i=0; i<list.length; i++) {%>
              <li><%= list[i].name %></li>
          <% } %>
      </ul>  
    <%}%>
  </body>
</html>
