<!DOCTYPE html>
<html>
  <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>小优羽毛球协会报名系统</title>
  </head>
  <body>
    <p>你好，当前未到报名时间，请在每周三早上9点后到每周四晚上19点之前报名，谢谢</p>
  </body>
</html>
