<!DOCTYPE html>
<html>
  <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>小优羽毛球协会报名系统</title>
  </head>
  <body>
  	<% if(err){ %>
  		<p><%= name %> 你好，报名失败，请联系管理员</p>
  	<%}else{%>
    	<p><%= name %> 你好，欢迎你报名下期的羽毛球活动</p>
    <%}%>
    <%= list %>
  </body>
</html>
