<!DOCTYPE html>
<html>
  <head>
        <% include header2.ejs %>
  </head>
  <body>
  	<% if(err){ %>
  		<p><%= name %> 你好，报名失败，请联系管理员</p>
  	<%}else{%>
    	<p><%= name %> 你好，欢迎你报名下期的羽毛球活动</p>
    <%}%>
    <% if(list){ %>
      已报名人员(共<%= list.length %>个):
      <ul>
          <% for(var i=0; i<list.length; i++) {%>
              <li><%= list[i].name %></li>
          <% } %>
      </ul>  
    <%}%>
  </body>
</html>
