<!DOCTYPE html>
<html>
  <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>小优羽毛球协会报名系统</title>
  </head>
  <body>
    <p><%= name %> 你好，取消本次活动报名成功，希望下次继续参与</p>
       <%= list %>
  </body>
</html>
