<div class="menusdiv">
	<ul class="menusul">
		<li <% if(path == '/'){ %>class="active" <%}%> ><a href="/">首页</a></li>
		<li <% if(path == '/photos'){ %>class="active" <%}%>><a href="/photos">照片</a></li>
		<li <% if(path == '/articles'){ %>class="active" <%}%>><a href="/articles">文章</a></li>
		<li <% if(path == '/about'){ %>class="active" <%}%>><a href="/about">联系</a></li>
	</ul>
</div>