<!DOCTYPE html>
<html>
  <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>小优羽毛球协会报名系统</title>
  </head>
  <body>
    <p><%= name %> 你好，你没有报名此次活动，敬请参与</p>
       <%= list %>
  </body>
</html>
